@import "~bootstrap/scss/bootstrap";

*{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    ::-webkit-scrollbar {
        width: 5px;
    }
    
    ::-webkit-scrollbar-track {
        background-color: #cccccc;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: #000000;
    }
}

.myContainer{
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
}

// body{
//     background: linear-gradient(135deg, hsla(0, 0%, 100%, 1) 0%, rgb(198, 199, 230) 100%);
// }