@import "~bootstrap/scss/bootstrap";

*{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    ::-webkit-scrollbar {
        width: 5px;
    }
    
    ::-webkit-scrollbar-track {
        background-color: #cccccc;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: #000000;
    }
}

.myContainer{
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
}

//ERROR
.error {
    min-height: 70px;
    line-height: 70px;
    text-align: center;
    vertical-align: center;
    border: 2px solid rgb(207, 3, 3);
    background-color: rgba(246, 147, 147, 0.496);
    font-weight: 500;
    color: rgb(207, 3, 3);
    margin-bottom: 15px;
}

// body{
//     background: linear-gradient(135deg, hsla(0, 0%, 100%, 1) 0%, rgb(198, 199, 230) 100%);
// }