@import "~bootstrap/scss/bootstrap";

*{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    ::-webkit-scrollbar {
        width: 5px;
    }
    
    ::-webkit-scrollbar-track {
        background-color: #cccccc;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: #000000;
    }
}
