.dashboard{
    height: 100%;
    .img-container{

        height: 150px;
        display: flex;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        align-items: center;
        border-bottom: 2px solid black;
        position: relative;
        h1{

            color: white;
            margin: 0;
            font-weight: 700;
            padding: 0 20px;
            background-color: rgba(0, 0, 0, 0.649);
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
        }
    }

    .img-edit-button{

        position: absolute;
        z-index: 1;
        right: 0;
        background-color: aliceblue;
        padding: 0 16px;
        height: 40px;
        line-height: 40px;
        margin-right: 16px;
        cursor: pointer;
        transition: all .3s ease-in-out;
        &.input-img{

            height: 60px;
            padding: 8px;
            background-color: rgba(255, 255, 255, 0.507);
            transition: all .3s ease-in-out;
            form{
                
                display: flex;
                justify-content: space-between;
                height: 100%;
                .custom-input{

                    position: relative;
                    overflow: hidden;
                    display: inline-block;
                    .custom-file-upload-button {
                        display: inline-block;
                        padding: 0 20px;
                        height: 40px;
                        margin-right: 16px;
                        background-color: #ffffff;
                        color: black;
                        border: 1px solid black;
                        cursor: pointer;
                    }
                    #img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        cursor: pointer;
                    }
                }
                button{
                    height: 100%;
                    padding: 0 16px;
                    border: none;
                    background-color: black;
                    color: white;
                }
            }
        }
        #edit-img-text{

        }
        #edit-img{

            input{

            }

            button{

            }
        }
    }

    .row{
        
        height: calc(100% - 150px);
        .col-md-6{       
            height: 100%;
            padding: 20px;
            .restaurant-info{
                height: 200px;
                list-style: none;
                background-color: rgb(245, 245, 245);
                padding: 20px;
                margin-bottom: 40px;
                flex-grow: 1;

                >*{

                    margin-bottom: 10px;
                    border-bottom: 1px solid rgb(235, 235, 235);
                    >:first-child{

                        margin-right: 8px;
                        font-weight: bold;
                    }
                }
            }

            h2{
                margin-bottom: 20px;
            }

            .restaurant-menu{
                display: flex;
                height: calc(100% - 280px);
                max-height: 350px;
                flex-wrap: wrap;
                justify-content: start;
                overflow: auto;
                .dish{

                    text-align: center;
                    padding: 30px 15px;
                    border: 1px solid black;
                    width: 47%;
                    margin-right: 15px;
                    margin-bottom: 15px;
                }
            }
        }

        .col-md-6{

            h3{
              
                font-size: 1.4rem;
                margin-bottom: 8px;
            }

            .typologies{
                
                width: 100%;
                display: flex;
                flex-direction: column;
                min-height: 120px;
                height: auto;
                max-height: 400px;
                overflow-y: auto;
                .single-typology{

                    width: 100%;
                    height: 50px;
                    border: 1px solid black;
                    margin-top: 8px;
                    line-height: 50px;
                    text-align: center;
                    span{

                    }
                }
                
            }
            .button-add-typology{

                width: 100%;
                height: 50px;
                border: 1px solid black;
                background-color: black;
                color: white;
                margin-top: 8px;
                line-height: 50px;
                text-align: center;
                cursor: pointer;
                // transition: all .2s ease-in-out;
            }
            .checkbox-container{
                //min-height: 120px;
                background-color: transparent;
                border: 1px solid black;
                transition: all .4s ease-in-out;
                margin-top: 8px;

                #add-typology{

                    padding: 5px;
                    display: flex;
                    flex-direction: column;
                    .back{
                        font-size: 1rem;
                        cursor: pointer;
                        padding: 8px;
                    }
                    .checkboxes{

                        min-height: 200px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        flex-wrap: wrap;
                        gap: 16px;
                        margin-bottom: 24px;
                        .singleTypology{

                            width: calc(100% / 4);
                            border-bottom: 1px solid rgba(157, 157, 157, 0.262);
                        }
                    }
                    button{

                        width: 100%;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        background-color: black;
                        border: none;
                        color: white;
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}