.dish-create, .dish-edit {
    padding: 40px;
    height: 100vh;
    .img-container {
        height: 15%;
        h1 {
            font-size: 3rem;
            font-weight: 700;
            color: black;
            margin: 0;
            margin-bottom: 20px;
        }
    }
    .div-edit {
        height: 75%;
        overflow-y: auto;
    }
    form {
        label {
            display: block;
            font-weight: bolder;
            font-size: 1.3rem;
        }
        textarea {
            width: 100%;
            padding: 10px;
        }
        input {
            width: 100%;
            background-color: transparent;
            border: 2px solid rgb(219, 219, 219);
            padding: 7px 20px;
            margin-bottom: 15px;
            &#visible {
                width: 100px;
                height: 20px;
                margin-bottom: 50px;
            }
            &#file-upload-button {
                background-color: transparent !important;
            }
        }

        .delete-image {
            label {
                font-weight: 500;
                display: block;
                font-size: 1rem;
                color: gray;
            }
            input {
                height: 15px;
                width: 15px;
                line-height: 15px;
                text-align: center;
                vertical-align: center;
                background-color: white;
                border-radius: 50%;
                margin: 0 0 0 8px;
            }
        }
        .preview {
            width: 150px;
            height: 150px;
            margin-bottom: 20px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        div {
            button {
                width: 20%;
                text-align: center;
                font-weight: 600;
                font-size: 0.9rem;
                padding: 10px 20px;
                background-color: white;
                color: black;
                border: 2px solid black;
                transition: all 0.2s ease-in-out;
                &:hover {
                    background-color: black;
                    color: white;
                }
            }
        }
    }
}
