body {
    header {
        padding: 20px;
        .myContainer {
            .row {
                form {
                    button {
                        padding: 5px 15px;
                        background: none;
                        border: 2px solid black;
                        font-weight: 600;
                        text-transform: uppercase;
                        &:hover {
                            color: white;
                            background-color: black;
                        }
                    }
                }
            }
        }
    }

    main {
        overflow: hidden;
        .myContainer {
            .row {
                aside {
                    border: 2px solid black;
                    height: calc(100vh - 100px);
                    ul {
                        padding: 0;
                        list-style: none;
                        margin: 0;
                        height: 100%;
                        li {
                            height: calc(100% / 4);
                            border-bottom: 1px solid rgb(219, 219, 219);
                            > * {
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                text-decoration: none;
                                color: black;
                                text-transform: uppercase;
                                padding-top: 12px;
                                padding-bottom: 12px;
                                width: 100%;
                                text-align: center;
                                background-color: white;
                                font-size: 1.1rem;
                                font-weight: 600;
                                transition: all 0.2s ease-in-out;
                                &:hover {
                                    background-color: black;
                                    color: white;
                                }
                                &:hover li {
                                    border-bottom: 1px solid black;
                                }
                            }
                        }
                    }
                }
                .col-10 {
                    border: 2px solid black;
                    height: calc(100vh - 100px);
                    
                }
            }
        }
    }
}

.myContainer {
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
}
